---
import "../styles/global.css";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../config";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{SITE_TITLE}</title>
		<meta name="description" content={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Anastasija Dubovska</h1>
			<p>
				I'm a graphic artist from Latvia. Welcome to my imaginary world!
			</p>
			<img width="100%" height="100%" src="/hero.jpg" alt="hero" />
		</main>
	</body>
</html>
